.thunder {
    margin-top: 85px;
    margin-left: 78px;
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.thunder ul{
  list-style-type: none;
}
.thunder li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #000000;
  font-size: 70px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.thunder li a{
  color: #000000;
  font-size: 18px;
  padding: 5px 0;
  white-space: nowrap;
  text-decoration: none;
  transition: all 0.3s ease;
}